<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Content/img/logo.png")" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("All", "Competitions")"><img src="@Url.Content("~/Content/img/logo.png")" height="50" width="50"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Рейтинг", "Full", "Rating")</li>
                    <li>@Html.ActionLink("Соревнования", "All", "Competitions")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <center>
                <span class="text-muted">Оценка качества проведения соревнований по спортивному ориентированию 2016-2017 </span>
            </center>
        </div>
    </footer>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            SomeeAdsRemover();
        });

        function SomeeAdsRemover() {
            $("center").each(function () {
                if ($(this).html() == '<a href="http://somee.com">Web hosting by Somee.com</a>') {
                    $(this).remove();
                    
                    return false;
                }
            });
        }
    </script>
</body>
</html>
