
@{
    ViewBag.Title = "Рейтинг";
    int index = 0;
}

@using (Html.BeginForm("Full", "Rating", null, FormMethod.Post, new { @class = "", role = "form" }))
{
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            @Html.DropDownList("year", @ViewBag.ListOfYears as SelectList, "Выберите год", new { @onchange = "onChange(this.form, value)", @class = "form-control" })
        </div>
    </div>
    <div class="row top-margin-20">
        <div class="col-xs-12 col-md-4 col-lg-4">
            <input type="submit" value="Кубок БФО" name="typeOfRating" class="btn btn-lg btn-default btn-block btn-type-of-rating"/>
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <input type="submit" value="Кубок БФО по спринтам" name="typeOfRating" class="btn btn-lg btn-default btn-block btn-type-of-rating" />
        </div>
        <div class="col-xs-12 col-md-4 col-lg-4">
            <input type="submit" value="Кубок БФО среди ветеранов" name="typeOfRating" class="btn btn-lg btn-default btn-block btn-type-of-rating" />
        </div>
    </div>
    <div class="row top-margin-20">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Мероприятие</th>
                        <th>Дата</th>
                        <th>Вид</th>
                        <th>Балл</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var competition in @ViewBag.RatingTable)
                    {
                        <tr>
                            <td>
                                @(++index)
                            </td>
                            <td><span><a href="@Url.Action("Show", "Results", new { id = @competition.CompetitionId })">@competition.Name</a></span></td>
                            <td><span>@competition.Date</span></td>
                            <td><span>@competition.Kind</span></td>
                            <td><span>@competition.Score.ToString("F2")</span></td>
                        </tr>
                    }
                </tbody>
            </table> 
        </div>
    </div>
</div>
}
<script>
    function onChange(form, value) {
        if( (value != 'Выберите год') && (value != '') ){
            form.submit();
        }
    }
</script>