@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Соревнования";
}
    
    @{
        bool isAuth = false;
        if (Request.IsAuthenticated)
        {
            isAuth = true;
        }
        else
        {
            isAuth = false;
        }
    }
<div class="container">
    @if (ViewBag.CompetitionCount / 3 > 0)
    {
        for (int i = 0; i < ViewBag.CompetitionCount / 3; i++)
        {
            <div class="row competition-row">
                @for (int j = 0; j < 3; j++)
                {
                    <div class="col-md-4">
                        <div class="competition-col">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <p class="small"><b>@ViewBag.Competition[i * 3 + j].Place</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Брест")
                                    {
                                        <img src="@Url.Content("~/Content/img/brestLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Витебск")
                                    {
                                        <img src="@Url.Content("~/Content/img/vitebskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Гомель")
                                    {
                                        <img src="@Url.Content("~/Content/img/gomelLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Гродно")
                                    {
                                        <img src="@Url.Content("~/Content/img/grodnoLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Минск")
                                    {
                                        <img src="@Url.Content("~/Content/img/minskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Могилев")
                                    {
                                        <img src="@Url.Content("~/Content/img/mogilevLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Полоцк")
                                    {
                                        <img src="@Url.Content("~/Content/img/polotskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                    @if (ViewBag.Competition[i * 3 + j].Place == "Шклов")
                                    {
                                        <img src="@Url.Content("~/Content/img/shklovLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                                    }
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h4>@ViewBag.Competition[i * 3 + j].Date</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <h5>@ViewBag.Competition[i * 3 + j].Name</h5>
                                        </div>                       
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <p><b>@ViewBag.Competition[i * 3 + j].Kind</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5 class="competition-text">@ViewBag.Competition[i * 3 + j].Text</h5>
                                </div>
                            </div>
                            <div class="row competition-row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="competition-voters">
                                        @if (ViewBag.countOfVoters[ViewBag.Competition[i * 3 + j].Id] != null)
                                        {
                                            <small>Проголосовало людей: <b>@ViewBag.countOfVoters[ViewBag.Competition[i * 3 + j].Id]</b></small>
                                        }
                                        else
                                        {
                                            <small>Проголосовало людей: <b>0</b></small>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="row competition-row">
                                <div class="col-md-5 col-md-offset-1">
                                    <div class="competition-btn">
                                        @Html.RouteLink("Результаты", new { controller = "Results", action = "Show", id = ViewBag.Competition[i * 3 + j].Id }, new { @class = "btn btn-sm btn-default btn-block" })
                                    </div>
                                </div>
                                @if ((isAuth == true) && (ViewBag.VotedCompetitions[ViewBag.Competition[i * 3 + j].Id] != true))
                                {
                                    <div class="col-md-5">
                                        <div class="competition-btn"> 
                                            @Html.RouteLink("Проголосовать", new { controller = "Competitions", action = "Vote", id = ViewBag.Competition[i * 3 + j].Id }, new { @class = "btn btn-sm btn-primary btn-block" })
                                      </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-5">
                                        <div class="competition-btn">
                                            @Html.RouteLink("Проголосовать", new { controller = "Competitions", action = "Vote", id = ViewBag.Competition[i * 3 + j].Id }, new { @class = "btn btn-sm btn-primary btn-block disabled" })
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    <div class="row">
        @for (int i = 0; i < ViewBag.CompetitionCount % 3; i++)
        {
            <div class="col-md-4">
                <div class="competition-col">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <p class="small"><b>@ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Брест")
                            {
                                <img src="@Url.Content("~/Content/img/brestLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Витебск")
                            {
                                <img src="@Url.Content("~/Content/img/vitebskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Гомель")
                            {
                                <img src="@Url.Content("~/Content/img/gomelLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Гродно")
                            {
                                <img src="@Url.Content("~/Content/img/grodnoLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Минск")
                            {
                                <img src="@Url.Content("~/Content/img/minskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Могилев")
                            {
                                <img src="@Url.Content("~/Content/img/mogilevLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Полоцк")
                            {
                                <img src="@Url.Content("~/Content/img/polotskLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                            @if (ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Place == "Шклов")
                            {
                                <img src="@Url.Content("~/Content/img/shklovLogo.png")" class="img-thumbnail center-block" width="100" height="100" />
                            }
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4>@ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Date</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h5>@ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Name</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h5>@ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Text</h5>
                        </div>
                    </div>
                    <div class="row competition-row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="competition-voters">
                                @if (ViewBag.countOfVoters[ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id] != null)
                                {
                                    <small>Проголосовало людей: <b>@ViewBag.countOfVoters[ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id]</b></small>
                                }
                                else
                                {
                                    <small>Проголосовало людей: <b>0</b></small>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row competition-row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="competition-btn">
                                @Html.RouteLink("Результаты", new { controller = "Results", action = "Show", id = ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id }, new { @class = "btn btn-sm btn-default btn-block" })
                            </div>
                        </div>
                        @if ((isAuth == true) && (ViewBag.VotedCompetitions[ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id] != true))
                        {
                            <div class="col-md-5">
                                <div class="competition-btn">                            
                                    @Html.RouteLink("Проголосовать", new { controller = "Competitions", action = "Vote", id = ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id }, new { @class = "btn btn-sm btn-primary btn-block" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-5">
                                <div class="competition-btn">                 
                                    @Html.RouteLink("Проголосовать", new { controller = "Competitions", action = "Vote", id = ViewBag.Competition[ViewBag.CompetitionCount - (ViewBag.CompetitionCount % 3) + i].Id }, new { @class = "btn btn-sm btn-primary btn-block disabled" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
