@using vote.Models
@model IQueryable<IGrouping<string, CommentViewModel>>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <div class="alert alert-warning custom-alert">
                <h4><strong>@ViewBag.Competition.Date</strong> @ViewBag.Competition.Name (@ViewBag.Competition.Kind)</h4>
                    Дополнительные комментарии от пользователей по отдельным пунктам голосования:

</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            @foreach (var fieldName in Model)
            {
                if (fieldName.Key == "Info")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Информация о соревнованиях</span>
                }
                if (fieldName.Key == "Place")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Местность</span>
                }
                if (fieldName.Key == "Map")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Карта</span>
                }
                if (fieldName.Key == "Print")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Печать карты</span>
                }
                if (fieldName.Key == "Sealed")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Герметизация карты</span>
                }
                if (fieldName.Key == "Distance")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Дистанция</span>
                }
                if (fieldName.Key == "Start")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Старт</span>
                }
                if (fieldName.Key == "Finish")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Финиш</span>
                }
                if (fieldName.Key == "Results")
                {
                    <span class="glyphicon glyphicon-check"></span><span id="@fieldName.Key" class="field-text"> Результаты</span>
                }
                if (fieldName.Key == "Center")
                {
                    <span class="glyphicon glyphicon-check"></span> <span id="@fieldName.Key" class="field-text"> Центр соревнований, полевой лагерь, размещение</span>
                }
                <div class="list-group">
                    @foreach (var comment in fieldName)
                    {
                        <div class="list-group-item custom-list-group-item">
                            <h5 class="list-group-item-heading comment-header"><span class="glyphicon glyphicon-user"></span><b> @comment.FirstName @comment.LastName:</b></h5>
                            <p class="list-group-item-text">@comment.Text</p>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>
